:root {
    --blood-red: #8b0000;
    --night-black: #0d0d0d;
    --spooky-white: #f5f5f5;
}

body {
    background-color: var(--night-black);
    font-family: 'Creepster', cursive; /* Google Font Requirement */
}


img[src*="slasher"] {
    filter: drop-shadow(0 0 10px var(--blood-red));
}


#quiz-container button:nth-child(even) {
    border-color: var(--blood-red);
}

.progress {
    border: 2px solid var(--blood-red);
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
        animation: none;
    }
}
